@using System.Configuration
@{
    ViewBag.Title = "AboutMe";
}

<h2>AboutMe</h2>

<h3>Name <span class="label label-primary">@ConfigurationManager.AppSettings["AutorName"]</span></h3>
<h3>Born <span class="label label-primary">@ConfigurationManager.AppSettings["BornDate"]</span></h3>
<h3>Info <span class="label label-primary">@ConfigurationManager.AppSettings["AutorInfo"]</span></h3>
<h3>Image <span class="label label-default"></span></h3>
<div>
     
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <a href="#" class="thumbnail">
                <img src=@Url.Content("~/Content/Image/hire_asp_net_developer.png") />
            </a>
        </div>

    </div>

</div>
<hr />

@Html.ActionLink("Stories", "Index", "Story")

